

<p> Welcome to Brolly! </p>
<p> Select a phone to insure: </p>
<select name="phones">
  <option value-''>Select a phone</option>
  <option value="iPhone X 64GB">iPhone X 64GB</option>
  <option value="Google Pixel 2 64GB">Google Pixel 2 64GB</option>
  <option value="Samsung Galaxy S9">Samsung Galaxy S9</option>
</select>
