<p> Please select a premium: </p>
<% result = data.map(function(element) { %>
  <% if (phone.phone == element.phone) { %>
    <%= phone.phone %> Premium: £<%= element.premium %>
  <% } %>
<% }) %>


<p> <%= result %> </p>
